<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- UTF-8 (UCS Transformation Format 8) é a codificação de caracteres mais comum da World Wide Web -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- a largura da página é igual a largura do dispositivo que está abrindo -->
    <link rel="stylesheet" href="../../shared.css">
    </link>
    <link rel="stylesheet" href="../../templates/pagina-inicial/pagina-inicial.css">
    </link>
    <title> Pagina inicial </title> <!-- Refere-se ao título da página -->
</head>

<body>
    <header id="header"></header>
    <nav id="dropdown"></nav>
    <main>
        <div id="input">
            <input id="record" type="text" placeholder="Digite o nome do evento ou tarefa"><br><br>
            <button class="btn" id="button"> Buscar </button>
        </div>

        <div id="img-home">
            <img src="img/Social Event festival.gif" alt="">
        </div>
    </main>
    <footer id="footer"></footer>
    <script src="../../shared.js"></script>
    <script type="module" src="pagina-inicial.js"></script>
</body>

</html>