# === SERVIDOR ===
PORT=3000
NODE_ENV=development

# === BANCO DE DADOS ===
MONGO_URI=mongodb://localhost:27017/minha_loja

# === SEGURANÇA ===
JWT_SECRET=sua_chave_super_secreta_aqui
JWT_EXPIRES_IN=8h

# === CORS (origens separadas por vírgula) ===
CORS_ORIGIN=http://localhost:5173,https://www.alfaofc.com.br

# === FRONTEND (para links em e-mails) ===
FRONTEND_URL=http://localhost:5173
FRONTEND_BASE_URL=https://www.alfaofc.com.br

# === E-MAIL (SMTP) ===
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USERNAME=seu_login_smtp
EMAIL_PASSWORD=sua_senha_smtp
EMAIL_FROM=noreply@alfastore.com

# === MERCADO PAGO ===
MERCADO_PAGO_PUBLIC_KEY=APP_USR-2ebcd693-3619-4e0f-8f04-34697ad79e78
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-7040577604548145-110820-151e8be368b9027a92660c694360d7d7-2975253789
MERCADO_PAGO_CLIENT_ID=7040577604548145
MERCADO_PAGO_CLIENT_SECRET=gkbWPIzPp5molBunB9arNJlw7pLKDlCH
MERCADO_PAGO_SUCCESS_URL=https://www.alfaofc.com.br/shop?status=success
MERCADO_PAGO_FAILURE_URL=https://www.alfaofc.com.br/shop?status=failure
MERCADO_PAGO_PENDING_URL=https://www.alfaofc.com.br/shop?status=pending
MERCADO_PAGO_NOTIFICATION_URL=
MERCADO_PAGO_STATEMENT_DESCRIPTOR=ALFASTORE
