<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,200&family=Inter&family=Poppins:ital,wght@1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../shared.css">
    </link>
    <link rel="stylesheet" href="../../templates/sobre-nos/sobre-nos.css">
    </link>
    <title> Sobre nós </title>
</head>

<body>
    <header id="header"></header>
    <div class="nossa-historia">
        <img id="img-copos" src="img/imagemcopos.jpg" alt="imagem sobre festa com copos para beber">
    </div>
    <div>
        <div class="nossa-historia">
            <h3 id="titulo">Nossa história</h3>
            <b>
                <p id="texto">Apresentamos um projeto inovador: um organizador de eventos que simplifica desde
                    celebrações
                    descontraídas
                    até
                    conferências corporativas. Resolver problemas como planejamento inadequado e desorganização é nossa
                    missão,
                    permitindo gestão de tarefas, orçamentos e personalização. Motivados pela magia de unir pessoas e
                    criar
                    experiências inesquecíveis, entendemos as complexidades por trás de cada evento e buscamos
                    enriquecer
                    essas
                    experiências. Nosso público-alvo inclui organizadores, fornecedores e convidados, todos
                    desempenhando
                    papéis
                    fundamentais na busca pela eficiência e sucesso de cada evento. Estamos aqui para simplificar e
                    aprimorar a
                    arte
                    de celebrar.</p>
            </b>
        </div>
        <div class="nossa-historia">
            <img id="img-festa" src="img/imagemfesta.jpg" alt="imagem sobre festa">
        </div>
        <div class="nossa-missao">
            <h3 id="titulo">Nossa missão</h3>
            <b>
                <p id="texto">Nossa missão é simplificar e aprimorar a arte de celebrar, oferecendo uma plataforma
                    inovadora
                    que
                    resolve
                    problemas como planejamento inadequado, desorganização e comunicação falha em eventos de todos os
                    tipos,
                    desde
                    celebrações descontraídas até conferências corporativas. Buscamos enriquecer as experiências de
                    todos os
                    envolvidos, unindo pessoas e criando momentos inesquecíveis, com foco na eficiência e sucesso de
                    cada
                    evento.
                </p>
            </b>
        </div>
        <footer id="footer"></footer>
        <script src="../../shared.js"></script>
        <script type="module" src="sobre-nos.js"></script>
    </div>
</body>

</html>